// Body
#main-title {
  color: #974925;
  font-size: 6em;
  font-weight: 600;
  background-image: url("../images/at3.jpg");
  background-repeat: repeat-x;
  opacity: 70%;
  height: calc(100vh - 72px - 32px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  p {
    z-index: 2;
  }
}
// Responsiveness for Desktop
@media screen and (min-width: 700px) {
  form {
    align-items: center;
    input {
      width: 50%;
    }
    textarea {
      width: 50%;
    }
    button {
      width: 20%;
    }
  }
  #main-title {
    font-size: 10em;
  }
}
// Footer
footer {
  position: static;
}
